.navbar {
    background-color: #333;
    color: white;
    padding: 1em;
}

.navbar-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 128px;
}

.navbar-logo {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.navibar-list {
    list-style: none;
    display: flex;
    gap:  1.0rem;
    margin: 0;
    padding: 0;
}

.navbar-item a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.navbar-item a:hover {
    color: #f0a500;
}

.active {
    font-weight: bold;
    border-bottom: 2px solid #f0a500;
}